run_stuff/configs
!run_stuff/configs/templates
logs/
*.log
*.pyc
*.swp
temp_data/
integration_tests/resources/agglom.xml
integration_tests/resources/labels.bin
integration_tests/resources/labels_comp.bin
.project
.pydevproject
.idea
*.egg-info
*uuid-cache.txt
